body{
    margin: 0;
    text-align: center;
    background-image: url(./Image/background.jpg);
}
.intro{
    /* text-align:left; */
    padding: 30px;
    padding-top: 100px;
    margin: auto;
    color: white;
}
.para{
    font-size: 20px;
    color: white;
}
.navbar-brand{ 
    padding: 15px;

} 
.navbar-nav{ 
    padding: 5px;

}
.profile{
    align-items: right;
}

#pic{
    /* margin: 20px;
    padding: 20px; */
    margin: 5% 10%;
    width: 60%;
}
.container-fluid{
    padding: 1% 15%;
}
#down-btn{
    margin-left: 30px;
}
#Achivement{
    padding: 7% 15%;
    text-align: center;
}
.heading{
    color: white;
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
}
.sub-heading{
    color: white;
    text-align: left;
    /* margin-top: 5%; */
    text-decoration: underline;
    padding: 3%;
}
.ach{
    margin-top: 15%;
}
#project{
    /* padding: 7% 5%; */
    /* text-align: center; */
    margin-left: 3%;
}
.card-body{
    background-color: rgb(52, 47, 47);
}
.card-title, .card-text{
    color: white;
}
.code-btn{
    /* margin-left: 25%; */
    width: 100%;
}
.project-col{
    padding: 3% 2%;
}

#Education{
    padding: 1% 5%;
}
.skill-col{
    margin: 1% 1%;
}
.skill-row{
    margin : 3% 1%;
}
.skill-card{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-bottom: 10%;
}
.skill-pic{
    height: 100px;
    width: 100px;
    margin: 25px 50px;
   
}
.skill-dis{
    color: white;
    text-align: center;
    
}

@media (max-width: 900px)
{
    #home{
        text-align: center;
        align-items: center;
    }
    .card{
        text-align: center;
        align-items: center;
       /* margin-left: 25%; */
    }
}