body{
    margin: 0;
    text-align: center;
    background-image: url(./Image/background.jpg);
}
.intro{
    text-align:left;
    padding: 30px;
    padding-top: 100px;
    margin: auto;
    color: white;
}
.para{
    font-size: 20px;
    color: white;
}
.navbar-brand{ 
    padding: 15px;

}
.navbar-nav{ 
    padding: 5px;

}
.profile{
    align-items: right;
}

#pic{
    margin: 20px;
    padding: 20px;
}